.scrollable {
  height: 20em;
  overflow-y: auto;
  background-color: whitesmoke;
}
.edited {
  color: deeppink;
}

button {
  background-color: gainsboro;
  border-color: gainsboro;
  font-size: 14px;
  border-radius: 6px;
}

h1 {
  font-size: 30px;
}

#welcome-container {
  display: flex;
  flex-direction: column;
  margin: 5em;
  align-items: center;
  border: 1px black solid;
  padding: 3em;
}

#dashboard-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

section {
  max-width: 40%;
  flex-basis: 40%;
}

#main-footer {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
